/* Configure bar */
.fixed-header {
  width: 100%;
  position: fixed;
  background: darkred;
  color: #fff;
  top: 0;
  text-decoration: none;
}

.fixed-header a {
  text-decoration: none;
  padding: 20px;
  color: white;
}

.fixed-header a:hover {
  background-color: black;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nava {
  color: #fff;
  padding: 7px 25px;
  display: inline-block;
}