@import "sidenav.css";
@import "tables.css";
@import "bars.css";

* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: lightgray;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  color: darkred;
}

div {
  padding: 10px;
}

li {
  list-style: none;
  left: 25px;
  position: relative;
}
